footer.footer 
    .container-h
        .footer__inner
            .footer_item
                .footer__first_column
                    a.footer__title(href="/")
                        h2 uacolour
                    p.footer__description The Creation of Art
                .footer__second_column
                    a.footer--button(href="./about.html") contact us
                    .footer-item-social
                        a(href="./") icon _ insta
                        a(href="./") icon _ insta
                        a(href="./") icon _ insta
            a(href="./")
                h1.footer__title--huge
                    span uacolour
            p.footer__about_us 
                |A private limited company incorporated in England and Wales under company number 10063271. 
                wbr
                |Registered at 1st Floor, 12-16 Clerkenwell Road, London, EC1M 5PQ
            p.footer__copyright All rights reserved © uacolour 2022

                
//script(src="./src/js/wow.min.js")
//script(src="./src/js/parallax.min.js")
//script(src="./src/js/accordion.min.js")
//script(src="./src/js/masonry.pkgd.min.js")
//script(src="./src/js/imagesloaded.pkgd.min.js")
script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
script(src="./src/js/app.js")
// script(src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js")