header.header
    .container-h
        .header__inner 
            a.header__logo(href="/")
                svg.logo_icon
                    use(xlink:href="./static/img/svg/sprite.svg#svg_logo")
                   
                h2 Uacolour
                //Source Code Pro line-height: 60px;
            nav.nav#nav
                a.nav_link(href="/") Artworks
                a.nav_link(href="./offers.html") Special Offers
                a.nav_link(href="./delivery.html") Delivery
                a.nav_link(href="./about.html") About
            button.burger__menu(type="button" id="navToggle") 
                span.burger__item Menu