div.quote
    p.quote__item.--animation--run-line 
        span *** Тихо, тихо ползи, Улитка, по склону Фудзи Вверх, до самых высот! ***
        span *** Тихо, тихо ползи, Улитка, по склону Фудзи Вверх, до самых высот! ***
    p.quote__item.--animation--run-line 
        span *** Тихо, тихо ползи, Улитка, по склону Фудзи Вверх, до самых высот! ***
        span *** Тихо, тихо ползи, Улитка, по склону Фудзи Вверх, до самых высот! ***
    p.quote__item.--animation--run-line 
        span *** Тихо, тихо ползи, Улитка, по склону Фудзи Вверх, до самых высот! ***
        span *** Тихо, тихо ползи, Улитка, по склону Фудзи Вверх, до самых высот! ***
    p.quote__item.--animation--run-line 
        span *** Тихо, тихо ползи, Улитка, по склону Фудзи Вверх, до самых высот! ***
        span *** Тихо, тихо ползи, Улитка, по склону Фудзи Вверх, до самых высот! ***