
-var image_path_portf_item = "../static/img/main/"
-var image_path_svg_item = "/static/img/svg/"
-
    const portfolio_items = [
        {   
            'number':'1',
            'img_src': 'https://via.placeholder.com/620x716/7986cb',
            'item_name': 'Black square',
        },
        {   
            'number':'2',
            'img_src': 'https://via.placeholder.com/620x716/64b5f6',
            'item_name': 'Desert plaintiff',
        },
        {   
            'number':'3',
            'img_src': 'https://via.placeholder.com/620x716/4fc3f7',
            'item_name': 'Astonishing south',
        },
        {   
            'number':'4',
            'img_src': 'https://via.placeholder.com/620x716/4dd0e1',
            'item_name': 'Astonishing south',
        },
        {   
            'number':'5',
            'img_src': 'https://via.placeholder.com/620x716/4db6ac',
            'item_name': 'Perform me',
        },
        {   
            'number':'6',
            'img_src': 'https://via.placeholder.com/620x716/81c784',
            'item_name': 'Layer software',
        },
        {   
            'number':'7',
            'img_src': 'https://via.placeholder.com/620x716/aed581',
            'item_name': 'Tap strap',
        },
        {   
            'number':'8',
            'img_src': 'https://via.placeholder.com/620x716/dce775',
            'item_name': 'Stool architecture',
        },

    ]

-
    const delivery_counteries = [
        {
            'country':'Channel Islands/Ireland',
            'price_delivery':'£20.00',
        },
        {
            'country':'Near Europe ',
            'price_delivery':'£25.00'
        },
        {
            'country':'Rest of Europe ',
            'price_delivery':'£30.00',
        },
        {
            'country':'USA/Canada',
            'price_delivery':'£70.00',
        },
         {
            'country':'Australia/New Zealand',
            'price_delivery':'£80.00',
        },
    ]

-
    const list_img_of_item = [
        {
            'link':'https://via.placeholder.com/1532x720/fff176',
        },
        {
            'link':'https://via.placeholder.com/532x720/ffd54f',
        },
        {
            'link':'https://via.placeholder.com/1532x1200/ffb74d',
        },
                {
            'link':'https://via.placeholder.com/1320x890/ff8a65',
        },        
        {
            'link':'https://via.placeholder.com/800x820/dce775',
        },
        {
            'link':'https://via.placeholder.com/1200x720/aed581',
        },
    ]

-
    const list_img_more_div = [
        {
            'link':'https://via.placeholder.com/222x287/fff176',
        },
        {
            'link':'https://via.placeholder.com/222x287/ffd54f',
        },
        {
            'link':'https://via.placeholder.com/222x287/ffb74d',
        },
                {
            'link':'https://via.placeholder.com/222x287/ff8a65',
        },        
        {
            'link':'https://via.placeholder.com/222x287/dce775',
        },
        {
            'link':'https://via.placeholder.com/222x287/aed581',
        },
    ]