extends templates/layout_about

block main
    .container-h
        .about__wrapper 
            .about__img
                img(src="", alt="")
            .about__content
                h2 colour 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nam, voluptatum quas repellendus laborum sunt aspernatur ipsam officiis blanditiis voluptatibus nisi, alias quae ullam possimus eius laudantium voluptatem! Eius, sit dolor quasi, aperiam eaque voluptate fugiat dignissimos ut excepturi adipisci impedit asperiores corrupti explicabo porro. Nam distinctio voluptas sit dicta!
                h4 Lorem ipsum dolor sit amet.
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum dolorem harum ad sequi corrupti rerum. 
        .about__second__img
                img(src="", alt="") 