extends templates/layout

block pixel_glass
     include ./includes/pixel_glass_about

block main
    .container-h
        .about__wrapper 
            .about__img
                img(src="https://via.placeholder.com/385x524", alt="")
            .about__content
                h2 uacolour 
                p Black Square (also known as The Black Square or Malevich's Black Square) is an iconic painting by Kazimir Malevich. The first version was done in 1915. Malevich made four variants of which the last is thought to have been painted during the late 1920s or early 1930s. Black Square was first shown in The Last Futurist Exhibition 0,10 in 1915. The work is frequently invoked by critics, historians, curators, and artists as the "zero point of painting", referring to the painting's historical significance and paraphrasing Malevich.
                h4 Making Art Accessible to the Masses
                p Since it's inception back in 2007, ArtGallery.co.uk has endeavoured to help foster and build a lively online arts scene, taking on over 4000 artists, enabling them to sell their artworks across the world. Not only this, we've worked tirelessly to build our range of affordable artworks, to enable more people to enjoy the wonders of art.
        .about__second__img
                img(src="https://via.placeholder.com/1222x377", alt="") 