extends templates/layout

block main
    .hero(data-height="hero")
        h1 
            | UA
            wbr
            | COLOUR
    block quote 
        include ./includes/quote_section
    section.main_portfolio
        .container
            block portfolio_grid 
                include includes/main_portfolio_grid
    block quote 
        include ./includes/quote_secondary_section
