extends templates/layout

block pixel_glass
    include ./includes/pixel_glass

block main
    .hero(data-height="hero")
        h1 
            | CREATIVE 
            wbr
            | WORKSHOP
    block quote 
        include ./includes/quote_section
    section.main_portfolio
        .container-h
            .main_portfolio_grid 
                h2 Artwork
                block portfolio_grid 
                    include includes/main_portfolio_grid
    block quote 
        include ./includes/quote_secondary_section
