extends templates/layout

block main
    .hero(data-height="hero")
        h1 
            | UA
            wbr
            | COLOUR
    p.quote 
        span 50% of sales for the needs of the Ukrainian army 
    section.main_portfolio
        .container
            block portfolio_grid 
                include includes/main_portfolio_grid 
    script(src="./src/js/app.js")