extends templates/layout

block main
    .hero(data-height="hero")
        h1 
            | UA
            wbr
            | COLOUR
    p.quote 
        span 50% of sales for the needs of the Ukrainian army 
    script(src="./src/js/app.js")