@charset "UTF-8";
html,
body,
div,
h1,
h2,
h3,
p,
pre,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section,
blockquote {
  padding: 0;
  border: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
a {
  outline: none !important;
}

button:hover, button:active, button:focus,
input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus,
a:hover,
a:active,
a:focus {
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

:root {
  --breakpoints__hg: 1920px;
  --breakpoints__lg: 1366px;
  --breakpoints__md: 810px;
  --breakpoints__sm: 361px;
}

/*

h1 intro_h 160 700 #FFFFFF Cormorant                    //L -> 128 700  //M -> 96 700   //S -> 110 700
h1 intro_h 128 700 #FFFFFF Cormorant //special offers   //L -> 96 700
h1 logo 160 700 #1C2135 Cormorant                                       //M -> 96 700
h2 36 700 #FFFFFF Cormorant
h3 24 700  #000000 Montserrat
h4 desc_t 20 700 #000000 Montserrat

p_logo 32 700 #1C2135 Cormorant //menu
p_desc_t 20 400 #FFFFFF Montserrat          //L -> 16 400
p 20 500 #000000 Montserrat
p_after_intro 20 700 #FFFFFF Cormorant //line                           //M -> 16 700   //S -> 16 700
p_t 24 500  #000000 Montserrat                                          //M -> 14 500   //S -> 16 500
p_bread_crumbs_t 16 500 #1C2135 Montserrat                              //M -> NONE
p_t2 16 400  #000000 Montserrat                                         //M -> 10 400   //S -> 16 400
p_desc t 16 400 #FFFFFF Montserrat //footer                             //M -> 14 400   //S -> 14 400
contact_t 16 400 #FFFFFF Montserrat //footer
rights_C 16 400 #FFFFFF Montserrat //footer                             //M -> 12 400
inst_t 16 400 #FFFFFF Montserrat //footer

p_menu 16 500 #1C2135 Montserrat //menu
p_after logo 11 400 #FFFFFF Montserrat //footer                         //M -> 10 400

button 16 500 #ffffff Montserrat                                        //M -> 14 500
button2 24 500 #ffffff Montserrat
button_back 20 500  #000000 Montserrat                                  //M -> NONE

#main

    p_logo 32 700 #1C2135 Cormorant
    p_menu 16 500 #1C2135 Montserrat
    h1 intro_h 160 700 #FFFFFF Cormorant    //L -> 128 700  //M -> 96 700   //S -> 110 700
    p_after_intro  20 700 #FFFFFF Cormorant                 //M -> 16 700   //S -> 16 700

    main_first
        h3 24 700  #000000 Montserrat
        p_t 24 500  #000000 Montserrat                      //M -> 14 500   //S -> 16 500
        p_t2 16 400  #000000 Montserrat                     //M -> 10 400   //S -> 16 400
        button 16 500 #ffffff Montserrat                    //M -> 14 500
    after_main 20 700  #1C2135                              //M -> 16 700

    footer
        h2 36 700 #FFFFFF Cormorant
        p_desc t 16 400 #FFFFFF Montserrat                  //M -> 14 400   //S -> 14 400
        h1 logo 160 700 #1C2135 Cormorant                   //M -> 96 700
        p_after logo 11 400 #FFFFFF Montserrat              //M -> 10 400
        rights_C 16 400 #FFFFFF Montserrat                  //M -> 12 400
        contact_t 16 400 #FFFFFF Montserrat
        inst_t 16 400 #FFFFFF Montserrat

#special offers

    p_logo 32 700 #1C2135 Cormorant
    p_menu 16 500 #1C2135 Montserrat
    h1 intro_h 128 700 #FFFFFF Cormorant    //L -> 96 700   //M -> 40 700      //S -> 64 400
    p_desc_t 20 400 #FFFFFF Montserrat      //L -> 16 400
    p_after_intro  20 700 #FFFFFF Cormorant                 //M -> 16 700

    main
        h3 24 700  #000000 Montserrat
        p_t 24 500  #000000 Montserrat                      //M -> 14 500       //S -> 16 500
        p_t2 16 400  #000000 Montserrat                     //M -> 10 500       //S -> 16 400
        button 16 500 #ffffff Montserrat                    //M -> 14 500
    p_after_main 20 700  #1C2135                            //M -> 16 700

    footer
        h2 36 700 #FFFFFF Cormorant
        desc t 16 400 #FFFFFF Montserrat
        logo 160 700 #1C2135 Cormorant
        after logo t 11 400 #FFFFFF Montserrat
        rights_C 16 400 #FFFFFF Montserrat
        contact_t 16 400 #FFFFFF Montserrat
        inst_t 16 400 #FFFFFF Montserrat

#item
    p_logo 32 700 #1C2135 Cormorant
    p_menu 16 500 #1C2135 Montserrat

    main
        p_bread_crumbs_t 16 500 #1C2135 Montserrat          //M -> NONE
        h2 36 700 #000000 Cormorant
        h4 desc_t 20 700 #000000 Montserrat
        p 20 500 #000000 Montserrat
        h4 desc_t 20 700 #000000 Montserrat
        p 20 500 #000000 Montserrat
        h3 p_price 24 700 #000000 Montserrat
        button2 24 500 #ffffff Montserrat
        button_back 20 500  #000000 Montserrat              //M -> NONE
        h4 20 700 #000000 Montserrat

    footer
        h2 36 700 #FFFFFF Cormorant
        desc t 16 400 #FFFFFF Montserrat
        logo 160 700 #1C2135 Cormorant
        after logo t 11 400 #FFFFFF Montserrat
        rights_C 16 400 #FFFFFF Montserrat
        contact_t 16 400 #FFFFFF Montserrat
        inst_t 16 400 #FFFFFF Montserrat

#delivery

    p_logo 32 700 #1C2135 Cormorant
    p_menu 16 500 #1C2135 Montserrat

    main
        p_bread_crumbs_t 16 500 #1C2135 Montserrat
        h4 20 700 #1C2135 Montserrat
        p 20 500  #1C2135 Montserrat

    footer

#about
    p_logo 32 700 #1C2135 Cormorant
    p_menu 16 500 #1C2135 Montserrat

    main
        p_bread_crumbs_t 16 500 #1C2135 Montserrat
        h2 36 700 #1C2135 Cormorant
        p 20 500 #000000 Montserrat
        h3 20 700 #000000 Montserrat
        p 20 500 #000000 Montserrat
*/
/* example

.fluid-font-size {
	@include fluidFontSize(16px, 24px, 480px, 1280px, 18px);
  }
*/
.header__logo h2, .hero h1, .footer__inner h1,
.footer__inner h2, .art-division h2, .about__wrapper h2, .offers--hero h1 {
  font-family: "Cormorant", serif;
  font-style: normal;
  font-weight: 700;
}

.quote {
  font-family: "Cormorant Infant", serif;
  font-style: normal;
  font-weight: 700;
}

.main_portfolio h2, .art-division h3, .art-division h4, .about__wrapper h4, .delivery_content_wrapper h4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.nav .nav_link, .portfolio_item__descripton div h3, .portfolio_item_btn, .art-division a, .art-division p, .breadcrumb, .about__wrapper p, .delivery_content_wrapper p, .delivery_content_wrapper ul {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.portfolio_item__descripton div p, .footer__inner p,
.footer__inner a, .offers--hero p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

body {
  height: 100vh;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.25;
}

/*
.container {
	width: 100%;
	//max-width: calc(620px + 620px + 30px + 60px);
	padding-right: 30px;
	padding-left: 30px;
	margin: 0 auto;

	@include not-xhg {
		max-width: 100%;
		padding-right: 150px;
		padding-left: 150px;
	}

	@include not-hg {
		padding-right: 90px;
		padding-left: 90px;
	}

	@include not-lg {
		padding-right: 31px;
		padding-left: 31px;
	}

	@include not-sm {
		padding-right: 31px;
		padding-left: 31px;
	}
}
*/
.container-h {
  max-width: 1270px;
  margin: 0 auto;
}

@media only screen and (max-width: 1919px) {
  .container-h {
    min-width: 1064px;
    max-width: calc(1270px + 150px + 150px);
    padding-right: 150px;
    padding-left: 150px;
  }
}

@media only screen and (max-width: 1365px) {
  .container-h {
    min-width: calc(310px + 310px + 10px);
    max-width: calc(1270px + 150px + 150px);
    padding-right: 90px;
    padding-left: 90px;
  }
}

@media only screen and (max-width: 809px) {
  .container-h {
    min-width: 280px;
    max-width: calc(620px + 31px + 31px);
    padding-right: 31px;
    padding-left: 31px;
  }
}

.container--special {
  max-width: 1270px;
  margin: 0 auto;
}

@media only screen and (max-width: 1919px) {
  .container--special {
    min-width: 1064px;
    max-width: calc(1270px + 150px + 150px);
    padding-right: 150px;
    padding-left: 150px;
  }
}

@media only screen and (max-width: 1365px) {
  .container--special {
    width: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  .container--special .container--special-restore {
    min-width: calc(310px + 310px + 10px);
    max-width: calc(1270px + 150px + 150px);
    padding-right: 90px;
    padding-left: 90px;
  }
}

@media only screen and (max-width: 809px) {
  .container--special .container--special-restore {
    min-width: 280px;
    max-width: calc(620px + 31px + 31px);
    padding-right: 31px;
    padding-left: 31px;
  }
}

/* ---------- NAVIGATION ---------- */
.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 48px;
  background-color: #fff;
}

@media only screen and (max-width: 1919px) {
  .header {
    margin-top: 48px;
  }
}

@media only screen and (max-width: 1365px) {
  .header {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 809px) {
  .header {
    margin-top: 25px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 11%;
}

@media only screen and (max-width: 1919px) {
  .header__inner {
    height: 50px;
    padding: 0;
  }
}

@media only screen and (max-width: 1365px) {
  .header__inner {
    height: 40px;
  }
}

@media only screen and (max-width: 809px) {
  .header__inner {
    height: 40px;
  }
}

@media only screen and (max-width: 360px) {
  .header__inner {
    height: 40px;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #1c2135;
  font-size: 32px;
  text-transform: uppercase;
}

#svg_logo circle:nth-of-type(1) {
  fill: #feef6d;
  -webkit-transition: fill 0.4s ease-in-out;
  transition: fill 0.4s ease-in-out;
}

#svg_logo circle:nth-of-type(2) {
  fill: #6dc1fe;
  -webkit-transition: fill 0.4s ease-in-out;
  transition: fill 0.4s ease-in-out;
}

#svg_logo:hover circle:nth-of-type(1) {
  fill: #6dc1fe;
}

#svg_logo:hover circle:nth-of-type(2) {
  fill: #feef6d;
}

.logo_icon {
  display: block;
  width: 48px;
  height: 37.01px;
  padding-right: 0;
  margin-right: 21px;
}

@media only screen and (max-width: 1365px) {
  .logo_icon {
    padding-right: 8px;
    margin-right: 6px;
  }
}

@media only screen and (max-width: 809px) {
  .logo_icon {
    display: none;
  }
}

.burger__menu {
  z-index: 2;
  display: none;
  padding: 14px 3px;
  border: 0;
  background-color: transparent;
  color: transparent;
  cursor: pointer;
}

@media only screen and (max-width: 1365px) {
  .burger__menu {
    display: block;
  }
}

.burger__menu .burger__item {
  position: relative;
  display: block;
  width: 40px;
  height: 3px;
  background-color: #1c2135;
  border-radius: 15px;
  color: transparent;
  font-size: 0;
}

.burger__menu .burger__item::before, .burger__menu .burger__item::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #1c2135;
  border-radius: 15px;
  content: '';
}

.burger__menu .burger__item::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.burger__menu .burger__item::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

/* check in JS
.header.fixed {
	position: fixed;
	z-index: 2;
	//background-color: $colors__main_3;

	.header__inner {
		padding: 10px 0;
	}
}
*/
@media only screen and (max-width: 1365px) {
  .nav {
    display: none;
  }
}

.nav .nav_link {
  position: relative;
  margin-left: 110px;
  color: #1c2135;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  will-change: color;
}

.nav .nav_link, .nav .nav_link:focus {
  color: #1c2135;
}

.nav .nav_link:hover, .nav .nav_link:active {
  color: #476fff;
}

@media only screen and (max-width: 1919px) {
  .nav .nav_link {
    margin-left: 95px;
  }
}

@media only screen and (max-width: 1365px) {
  .nav .nav_link {
    margin-left: 0;
  }
}

.nav_active {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-right: 0;
  margin-left: 0;
  background-color: #e43636;
}

.nav_active + #navToggle {
  display: block;
}

/* ---------- HERO ---------- */
:root {
  --height_quote__l: 52px;
  --height_quote__s: 40px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - var(--height_quote__l));
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-blend-mode: hard-light;
  background-color: #1c2135;
  background-image: url("https://via.placeholder.com/1920x1028");
  background-position: 50% 50%;
  background-size: cover;
}

@media only screen and (max-width: 1365px) {
  .hero {
    height: calc(100vh - var(--height_quote__s));
  }
}

@media only screen and (max-width: 809px) {
  .hero {
    height: calc(100vh - var(--height_quote__s));
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-size: initial;
  }
}

.hero h1 {
  color: #fff;
  font-size: 160px;
  text-transform: uppercase;
}

@media only screen and (max-width: 1919px) {
  .hero h1 {
    font-size: 128px;
  }
}

@media only screen and (max-width: 1365px) {
  .hero h1 {
    font-size: 96px;
  }
}

@media only screen and (max-width: 809px) {
  .hero h1 {
    height: calc(100vh - var(--height_quote__s));
    margin-bottom: 9px;
    font-size: 110px;
    text-orientation: mixed;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
  }
}

.quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: var(--height_quote__l);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1c2135;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  vertical-align: middle;
}

@media only screen and (max-width: 1365px) {
  .quote {
    height: var(--height_quote__s);
    font-size: 16px;
  }
}

@media only screen and (max-width: 809px) {
  .quote {
    height: var(--height_quote__s);
    font-size: 16px;
    text-align: center;
  }
}

.quote.--secondary_bgc {
  background-color: #fff;
  color: #1c2135;
}

/* ---------- MAIN PORTFOLIO ---------- */
.main_portfolio h2 {
  margin: 52px 0 36px 0;
  font-size: 24px;
  grid-column-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

@media only screen and (max-width: 1919px) {
  .main_portfolio h2 {
    margin: 47px 0 36px 0;
  }
}

@media only screen and (max-width: 1365px) {
  .main_portfolio h2 {
    margin: 59px 0 13px 0;
  }
}

@media only screen and (max-width: 809px) {
  .main_portfolio h2 {
    width: 100%;
    max-width: 620px;
    margin: 32px 0 19px 0;
    grid-column-end: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
}

.main_portfolio_grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -ms-grid-columns: minmax(310px, 620px) minmax(310px, 620px);
      grid-template-columns: minmax(310px, 620px) minmax(310px, 620px);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

@media only screen and (max-width: 1365px) {
  .main_portfolio_grid {
    -webkit-column-gap: 1%;
            column-gap: 1%;
  }
}

@media only screen and (max-width: 809px) {
  .main_portfolio_grid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
}

.portfolio_item {
  min-width: 310px;
  max-width: 620px;
  margin: 0 0 79px 0;
}

@media only screen and (max-width: 1919px) {
  .portfolio_item {
    margin: 0 0 60px 0;
  }
}

@media only screen and (max-width: 1365px) {
  .portfolio_item {
    margin: 0 0 39px 0;
  }
}

@media only screen and (max-width: 809px) {
  .portfolio_item {
    min-width: 298px;
    margin: 0 0 30px 0;
  }
}

.preview_img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio_item__descripton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 17px 66px;
  color: #1c2135;
}

@media only screen and (max-width: 1919px) {
  .portfolio_item__descripton {
    margin: 16px 54px;
  }
}

@media only screen and (max-width: 1365px) {
  .portfolio_item__descripton {
    margin: 8px 17px;
  }
}

@media only screen and (max-width: 809px) {
  .portfolio_item__descripton {
    margin: 12px 0;
  }
}

@media only screen and (max-width: 809px) {
  .portfolio_item__descripton div {
    margin: 0 auto 8px auto;
  }
}

.portfolio_item__descripton div h3 {
  font-size: 24px;
  quotes: "“" "”";
}

@media only screen and (max-width: 1365px) {
  .portfolio_item__descripton div h3 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 809px) {
  .portfolio_item__descripton div h3 {
    display: inline-block;
    font-size: 16px;
  }
}

.portfolio_item__descripton div p {
  margin-left: calc(24px / 2);
  font-size: 16px;
  line-height: 1;
}

@media only screen and (max-width: 1365px) {
  .portfolio_item__descripton div p {
    margin-left: calc(14px / 2);
    font-size: 10px;
  }
}

@media only screen and (max-width: 809px) {
  .portfolio_item__descripton div p {
    display: inline-block;
    margin-left: calc(14px / 2);
    font-size: 16px;
  }
}

.portfolio_item_btn {
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  will-change: background-color;
  display: inline-block;
  padding: 14px 24px;
  background-color: #e43636;
  border-radius: 13px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.portfolio_item_btn:hover, .portfolio_item_btn:active, .portfolio_item_btn:focus {
  background-color: #a62626;
}

@media only screen and (max-width: 1919px) {
  .portfolio_item_btn {
    padding: 10px 14px;
  }
}

@media only screen and (max-width: 1365px) {
  .portfolio_item_btn {
    padding: 5px 13px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 809px) {
  .portfolio_item_btn {
    display: block;
    width: 100%;
    padding: 5px 0;
    font-size: 14px;
    text-align: center;
  }
}

/* ---------- FOOTER ---------- */
.footer {
  background-color: #1c2135;
  color: #fff;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding-top: 69px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 1365px) {
  .footer__inner {
    padding-top: 36px;
  }
}

@media only screen and (max-width: 809px) {
  .footer__inner {
    padding-top: 30px;
    padding-bottom: 0;
  }
}

.footer__inner > p {
  padding-bottom: 12px;
}

@media only screen and (max-width: 1919px) {
  .footer__inner > p {
    padding-bottom: 25px;
  }
}

@media only screen and (max-width: 1365px) {
  .footer__inner > p {
    padding-bottom: 25px;
  }
}

@media only screen and (max-width: 809px) {
  .footer__inner > p {
    padding-bottom: 20px;
  }
}

.footer__inner h1 {
  overflow: hidden;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding-right: 0.1em;
  padding-left: 50%;
  margin-bottom: 30px;
  margin-left: -50%;
  background-color: #ffb547;
  color: #1c2135;
  font-size: 160px;
  line-height: 0.6;
  text-transform: uppercase;
}

@media only screen and (max-width: 1365px) {
  .footer__inner h1 {
    width: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 24px;
    font-size: 96px;
  }
}

@media only screen and (max-width: 809px) {
  .footer__inner h1 {
    overflow: auto;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    padding-top: 27px;
    padding-right: 0;
    padding-bottom: 27px;
    padding-left: 0;
    margin-top: 0;
    margin-right: -30px;
    margin-bottom: 0;
    margin-left: -30px;
    background-color: #ffb547;
    color: #1c2135;
    font-size: 54px;
    line-height: 1.25;
    text-align: center;
  }
}

.footer_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-bottom: 35px;
}

@media only screen and (max-width: 1365px) {
  .footer_item {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 809px) {
  .footer_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
}

.footer__first_column {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: calc(274px + 46px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 1365px) {
  .footer__first_column {
    width: calc(274px + 26px);
  }
}

.footer__first_column a {
  margin-top: calc(-1 * (36px * 1.25 - 36px));
  margin-bottom: 8px;
  font-size: 36px;
  text-transform: uppercase;
}

.footer__first_column p {
  font-size: 16px;
}

@media only screen and (max-width: 1365px) {
  .footer__first_column p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 809px) {
  .footer__first_column p {
    margin-bottom: 31px;
  }
}

.footer__second_column .footer--button {
  padding: 4px 19px;
  background: #fff;
  border-radius: 13px;
  color: #1c2135;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  will-change: color;
}

.footer__second_column .footer--button, .footer__second_column .footer--button:focus {
  color: #1c2135;
}

.footer__second_column .footer--button:hover, .footer__second_column .footer--button:active {
  color: #ffb547;
}

@media only screen and (max-width: 1365px) {
  .footer__second_column .footer--button {
    padding: 4px 43px;
  }
}

@media only screen and (max-width: 809px) {
  .footer__second_column .footer--button {
    padding: 4px 10px;
  }
}

.footer__second_column .footer-item-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 22px;
  font-size: 16px;
}

@media only screen and (max-width: 1365px) {
  .footer__second_column .footer-item-social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (max-width: 809px) {
  .footer__second_column .footer-item-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 33px;
  }
}

.footer__second_column .footer-item-social a {
  margin-right: 18px;
}

@media only screen and (max-width: 809px) {
  .footer__second_column .footer-item-social a {
    margin-bottom: 11px;
  }
}

.footer__about_us {
  max-width: 550px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  font-size: 11px;
}

@media only screen and (max-width: 1365px) {
  .footer__about_us {
    max-width: 500px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    font-size: 10px;
  }
}

.footer__copyright {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

@media only screen and (max-width: 1365px) {
  .footer__copyright {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    font-size: 12px;
  }
}

@media only screen and (max-width: 809px) {
  .footer__copyright {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

/* ---------- ARTWORKS ---------- */
.art-division {
  margin-top: 153px;
  margin-right: 26px;
  margin-left: 26px;
  line-height: 1.2;
}

@media only screen and (max-width: 1919px) {
  .art-division {
    margin-top: 129px;
  }
}

@media only screen and (max-width: 1365px) {
  .art-division {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
}

.art-division h3 {
  font-size: 24px;
}

.art-division h3:last-of-type {
  margin-bottom: 40px;
}

.art-division h4 {
  margin-bottom: 25px;
  font-size: 20px;
}

.art-division h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.art-division p {
  margin-bottom: 24px;
  font-size: 20px;
  text-align: justify;
}

.art-division p:first-of-type {
  margin-bottom: 48px;
}

@media only screen and (max-width: 1919px) {
  .art-division p:first-of-type {
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 1365px) {
  .art-division p:first-of-type {
    margin-bottom: 48px;
  }
}

.art-division p:last-of-type {
  margin-bottom: 20px;
}

@media only screen and (max-width: 1365px) {
  .breadcrumb {
    display: none;
  }
}

.breadcrumb a {
  margin-right: 13px;
}

.breadcrumb a::after {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 10px;
  background-color: #a62626;
  content: '';
}

@media only screen and (max-width: 1919px) {
  .breadcrumb a::after {
    margin-left: 7px;
  }
}

.art-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 10px;
  margin-bottom: 54px;
  --art-item_margin-r__full: 60px;
  --art-item_margin-r__xhg: 34px;
}

@media only screen and (max-width: 1365px) {
  .art-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
}

.art-item__img-section {
  width: auto;
  min-width: 474px;
  margin-top: 10px;
}

@media only screen and (max-width: 1365px) {
  .art-item__img-section {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 88px;
    margin-top: 0;
    margin-bottom: 14px;
    background-color: #1c2135;
    background-color: #233066;
    justify-items: center;
  }
}

@media only screen and (max-width: 809px) {
  .art-item__img-section {
    min-width: auto;
    padding-top: 120px;
  }
}

.art-item__img-section .art-img_slider {
  max-width: 533px;
  /*
		slick-slider slick-initialized
		slick-list draggable
		slick-track
		slick-slide */
}

@media only screen and (max-width: 1365px) {
  .art-item__img-section .art-img_slider {
    width: 100%;
    max-width: calc(1270px + 150px + 150px);
    padding-right: 90px;
    padding-left: 90px;
  }
}

.art-item__img-section .art-img_slider .slick-slider {
  margin-bottom: 20px;
  background-color: transparent;
}

.art-item__img-section .art-img_slider .slick-slider .slick-list {
  /*
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-content: center;
				align-items: center;
				justify-content: center; */
}

.art-item__img-section .art-img_slider .slick-slider .slick-list .slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.art-item__img-section .art-img_slider .slick-slider .slick-list .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  background-color: #1c2135;
}

@media only screen and (max-width: 1365px) {
  .art-item__img-section .art-img_slider .slick-slider .slick-list .slick-slide {
    padding: 0;
  }
}

.art-item__img-section .art-img_slider .slick-slider .slick-list .slick-slide img {
  display: block;
  width: 100%;
  height: auto;
}

.art-item__img-section .art-img_slider .slider-nav {
  position: relative;
  margin: 0 40px;
  background-color: transparent;
}

@media only screen and (max-width: 1365px) {
  .art-item__img-section .art-img_slider .slider-nav {
    display: none;
  }
}

.art-item__img-section .art-img_slider .slider-nav .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.art-item__img-section .art-img_slider .slider-nav .slick-track .slick-slide {
  height: auto;
  padding: 4px;
  margin-right: 10px;
}

.art-item__img-section .art-img_slider .slider-nav .slick-track .slick-slide img {
  display: block;
  width: 100%;
  height: auto;
}

.art-item__img-section .art-img_slider .slider-nav .slick-list {
  padding: 0 !important;
}

.art-item__img-section .art-img_slider .slick-next,
.art-item__img-section .art-img_slider .slick-prev {
  position: absolute;
  top: 50%;
  display: block;
  width: 40px;
  height: 20px;
  height: 100%;
  padding: 0;
  border: none;
  background: transparent;
  color: transparent;
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  outline: none;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.art-item__img-section .art-img_slider .slick-next::before,
.art-item__img-section .art-img_slider .slick-prev::before {
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
}

.art-item__img-section .art-img_slider .slick-next {
  right: -40px;
}

.art-item__img-section .art-img_slider .slick-next::before {
  content: '→';
  content: url("../../static/img/svg/svg_slide_next_icon.svg");
}

@media only screen and (max-width: 1365px) {
  .art-item__img-section .art-img_slider .slick-next::before {
    content: url("../../static/img/svg/svg_slide_next_icon__sm.svg");
  }
}

.art-item__img-section .art-img_slider .slick-prev {
  left: -40px;
}

.art-item__img-section .art-img_slider .slick-prev::before {
  content: '←';
  content: url("../../static/img/svg/svg_slide_prew_icon.svg");
}

@media only screen and (max-width: 1365px) {
  .art-item__img-section .art-img_slider .slick-prev::before {
    content: url("../../static/img/svg/svg_slide_prew_icon__sm.svg");
  }
}

.art-item__img-section .art-img_slider .art-img_slider__main-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1c2135;
}

.art-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(54% - var(--art-item_margin-r__full) / 2);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: var(--art-item_margin-r__full);
}

@media only screen and (max-width: 1919px) {
  .art-item__content {
    width: calc(54% + var(--art-item_margin-r__xhg));
    margin-left: var(--art-item_margin-r__xhg);
  }
}

@media only screen and (max-width: 1365px) {
  .art-item__content {
    width: auto;
    margin-left: 0;
  }
}

.recent-product-list__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.recent-product-list__inner .product-preview__item {
  margin-right: 27px;
}

.recent-product-list__inner .product-preview__item:last-of-type {
  margin-right: 0;
}

.recent-product-list__inner .product-preview__item img {
  display: block;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1919px) {
  .recent-product-list__inner .product-preview__item {
    margin-right: 43px;
  }
  .recent-product-list__inner .product-preview__item:nth-of-type(n+4) {
    margin-right: 0;
  }
  .recent-product-list__inner .product-preview__item:nth-of-type(n+5) {
    display: none;
  }
}

@media only screen and (max-width: 1365px) {
  .recent-product-list__inner .product-preview__item {
    margin-right: 20px;
  }
  .recent-product-list__inner .product-preview__item:nth-of-type(n+3) {
    margin-right: 0;
  }
  .recent-product-list__inner .product-preview__item:nth-of-type(n+4) {
    display: none;
  }
}

@media only screen and (max-width: 809px) {
  .recent-product-list__inner .product-preview__item {
    margin-right: 20px;
  }
  .recent-product-list__inner .product-preview__item:nth-of-type(n+2) {
    margin-right: 0;
  }
  .recent-product-list__inner .product-preview__item:nth-of-type(n+3) {
    display: none;
  }
}

.recent-product-list,
.rand-product-list {
  margin-bottom: 54px;
}

.recent-product-list h4,
.rand-product-list h4 {
  margin-bottom: 20px;
}

.back_button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-item-align: end;
      align-self: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

@media only screen and (max-width: 1365px) {
  .back_button {
    display: none;
  }
}

.back_button .back_icon {
  width: 102px;
  height: 24px;
  fill: #1c2135;
}

.back_button span {
  padding-left: 10px;
}

.--ext_padding {
  padding: 14px 77px;
}

@media only screen and (max-width: 1365px) {
  .--ext_padding {
    padding: 14px 100px;
  }
}

/* ---------- ABOUT ---------- */
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 210px;
  margin-right: 26px;
  margin-bottom: 64px;
  margin-left: 26px;
  line-height: 1.2;
  --gap: 30px;
}

@media only screen and (max-width: 1919px) {
  .about__wrapper {
    margin-top: 184px;
    margin-bottom: 48px;
  }
}

@media only screen and (max-width: 1365px) {
  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 168px;
    margin-right: 0;
    margin-bottom: 48px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 1365px) {
  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 144px;
    margin-right: 0;
    margin-bottom: 48px;
    margin-left: 0;
  }
}

.about__wrapper h2 {
  margin-top: 8px;
  margin-bottom: 14px;
  font-size: 36px;
  text-transform: uppercase;
}

@media only screen and (max-width: 1919px) {
  .about__wrapper h2 {
    margin-top: 0;
    margin-bottom: 18px;
  }
}

.about__wrapper p {
  margin-bottom: 24px;
  font-size: 20px;
  text-align: justify;
}

@media only screen and (max-width: 809px) {
  .about__wrapper p {
    text-align: start;
  }
}

.about__wrapper p:first-of-type {
  margin-bottom: 64px;
}

@media only screen and (max-width: 1919px) {
  .about__wrapper p:first-of-type {
    margin-bottom: 48px;
  }
}

@media only screen and (max-width: 809px) {
  .about__wrapper p:first-of-type {
    margin-bottom: 62px;
  }
}

.about__wrapper p:last-of-type {
  margin-bottom: 20px;
}

.about__wrapper h4 {
  margin-bottom: 16px;
  font-size: 20px;
}

@media only screen and (max-width: 1919px) {
  .about__wrapper h4 {
    margin-bottom: 24px;
  }
}

.about__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32%;
  max-width: 385px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

@media only screen and (max-width: 1919px) {
  .about__img {
    width: 38%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 8px;
  }
}

@media only screen and (max-width: 1365px) {
  .about__img {
    width: 100%;
    margin-top: 0;
    margin-bottom: 68px;
  }
}

@media only screen and (max-width: 1365px) {
  .about__img {
    width: 100%;
    margin-top: 0;
    margin-bottom: 28px;
  }
}

.about__img img {
  display: block;
  width: 100%;
  height: auto;
}

.about__content {
  width: calc(68% - var(--gap));
  margin-left: var(--gap);
}

@media only screen and (max-width: 1919px) {
  .about__content {
    width: calc(62% - var(--gap));
  }
}

@media only screen and (max-width: 1365px) {
  .about__content {
    width: 100%;
    margin-left: 0;
  }
}

.about__second__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 26px;
  margin-bottom: 98px;
  margin-left: 26px;
  background-color: #1c2135;
  justify-items: center;
}

@media only screen and (max-width: 1365px) {
  .about__second__img {
    margin-right: 0;
    margin-left: 0;
  }
}

@media only screen and (max-width: 1365px) {
  .about__second__img {
    display: none;
    margin-right: 0;
    margin-left: 0;
  }
}

.about__second__img img {
  display: block;
  width: 100%;
  height: auto;
}

/* ---------- DELIVERY ---------- */
.delivery_content_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 233px;
  margin-right: 26px;
  margin-left: 26px;
  line-height: 1.2;
}

@media only screen and (max-width: 1919px) {
  .delivery_content_wrapper {
    margin-top: 196px;
  }
}

@media only screen and (max-width: 1365px) {
  .delivery_content_wrapper {
    margin-top: 174px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media only screen and (max-width: 809px) {
  .delivery_content_wrapper {
    margin-top: 174px;
    margin-right: 0;
    margin-left: 0;
  }
}

.delivery_content_wrapper h4 {
  margin-bottom: 16px;
  font-size: 20px;
}

@media only screen and (max-width: 1919px) {
  .delivery_content_wrapper h4 {
    margin-bottom: 24px;
  }
}

.delivery_content_wrapper p {
  margin-bottom: 24px;
  font-size: 20px;
  text-align: justify;
}

.delivery_content_wrapper ul {
  padding: 0;
  margin-bottom: 24px;
  font-size: 20px;
  text-align: justify;
}

.delivery_content_wrapper ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 809px) {
  .delivery_content_wrapper ul li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1em;
  }
  .delivery_content_wrapper ul li span:first-of-type {
    font-weight: 700;
  }
}

.delivery_content {
  margin-bottom: 46px;
  --gap: 50px;
}

@media only screen and (max-width: 1919px) {
  .delivery_content {
    margin-bottom: 24px;
  }
}

.delivery_content:nth-of-type(2) {
  width: 38%;
  max-width: 384px;
  margin-right: var(--gap);
}

@media only screen and (max-width: 1365px) {
  .delivery_content:nth-of-type(2) {
    width: 100%;
    margin-right: 0;
  }
}

.delivery_content:nth-of-type(3) {
  width: calc(62% - var(--gap));
  max-width: 698px;
}

@media only screen and (max-width: 1365px) {
  .delivery_content:nth-of-type(3) {
    width: 100%;
    max-width: 100%;
  }
}

.delivery_map {
  width: 100%;
  margin-top: 85px;
  margin-bottom: 175px;
}

@media only screen and (max-width: 1919px) {
  .delivery_map {
    margin-top: 48px;
  }
}

@media only screen and (max-width: 1365px) {
  .delivery_map {
    margin-bottom: 90px;
  }
}

@media only screen and (max-width: 809px) {
  .delivery_map {
    margin-bottom: 24px;
  }
}

.delivery_map img {
  display: block;
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

/* OFFERS */
.offers--hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - var(--height_quote__l));
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-blend-mode: hard-light;
  background-color: #1c2135;
  background-image: url("https://via.placeholder.com/1920x1028");
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
}

@media only screen and (max-width: 1365px) {
  .offers--hero {
    height: calc(100vh - var(--height_quote__s));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 809px) {
  .offers--hero {
    height: calc(100vh - var(--height_quote__s));
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-size: initial;
    text-align: center;
  }
}

.offers--hero h1 {
  margin-top: -26px;
  font-size: 128px;
  text-transform: uppercase;
}

@media only screen and (max-width: 1919px) {
  .offers--hero h1 {
    margin-top: 0;
    font-size: 96px;
  }
}

@media only screen and (max-width: 1365px) {
  .offers--hero h1 {
    margin-top: -88px;
    margin-bottom: 12px;
    font-size: 40px;
  }
}

@media only screen and (max-width: 809px) {
  .offers--hero h1 {
    max-width: 400px;
    margin-top: 100px;
    margin-bottom: 36px;
    font-size: 64px;
  }
}

.offers--hero p {
  max-width: 954px;
  margin-bottom: 24px;
  font-size: 20px;
  text-align: center;
}

@media only screen and (max-width: 1919px) {
  .offers--hero p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1365px) {
  .offers--hero p {
    width: 55%;
    max-width: 600px;
  }
}

@media only screen and (max-width: 809px) {
  .offers--hero p {
    width: 80%;
    max-width: 480px;
  }
}

.test {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  background-color: red;
}

.test__inner-slide {
  display: block;
  width: 100%;
}

.test__inner-slide img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */