@charset "UTF-8";

html,
body,
div,
h1,
h2,
h3,
p,
pre,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section,
blockquote {
	padding: 0;
	border: 0;
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

button,
input,
textarea,
a {
	outline: none !important;
}

button:hover,
button:active,
button:focus,
input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus,
a:hover,
a:active,
a:focus {
	outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	margin-block-end: 0;
	margin-block-start: 0;
}

/*

h1 intro_h 160 700 #FFFFFF Cormorant                    //L -> 128 700  //M -> 96 700   //S -> 110 700
h1 intro_h 128 700 #FFFFFF Cormorant //special offers   //L -> 96 700
h1 logo 160 700 #1C2135 Cormorant                                       //M -> 96 700
h2 36 700 #FFFFFF Cormorant
h3 24 700  #000000 Montserrat
h4 desc_t 20 700 #000000 Montserrat

p_logo 32 700 #1C2135 Cormorant //menu
p_desc_t 20 400 #FFFFFF Montserrat          //L -> 16 400
p 20 500 #000000 Montserrat
p_after_intro 20 700 #FFFFFF Cormorant //line                           //M -> 16 700   //S -> 16 700
p_t 24 500  #000000 Montserrat                                          //M -> 14 500   //S -> 16 500
p_bread_crumbs_t 16 500 #1C2135 Montserrat                              //M -> NONE
p_t2 16 400  #000000 Montserrat                                         //M -> 10 400   //S -> 16 400
p_desc t 16 400 #FFFFFF Montserrat //footer                             //M -> 14 400   //S -> 14 400
contact_t 16 400 #FFFFFF Montserrat //footer
rights_C 16 400 #FFFFFF Montserrat //footer                             //M -> 12 400
inst_t 16 400 #FFFFFF Montserrat //footer

p_menu 16 500 #1C2135 Montserrat //menu
p_after logo 11 400 #FFFFFF Montserrat //footer                         //M -> 10 400

button 16 500 #ffffff Montserrat                                        //M -> 14 500
button2 24 500 #ffffff Montserrat
button_back 20 500  #000000 Montserrat                                  //M -> NONE

#main

    p_logo 32 700 #1C2135 Cormorant
    p_menu 16 500 #1C2135 Montserrat
    h1 intro_h 160 700 #FFFFFF Cormorant    //L -> 128 700  //M -> 96 700   //S -> 110 700
    p_after_intro  20 700 #FFFFFF Cormorant                 //M -> 16 700   //S -> 16 700

    main_first
        h3 24 700  #000000 Montserrat
        p_t 24 500  #000000 Montserrat                      //M -> 14 500   //S -> 16 500
        p_t2 16 400  #000000 Montserrat                     //M -> 10 400   //S -> 16 400
        button 16 500 #ffffff Montserrat                    //M -> 14 500
    after_main 20 700  #1C2135                              //M -> 16 700

    footer
        h2 36 700 #FFFFFF Cormorant
        p_desc t 16 400 #FFFFFF Montserrat                  //M -> 14 400   //S -> 14 400
        h1 logo 160 700 #1C2135 Cormorant                   //M -> 96 700
        p_after logo 11 400 #FFFFFF Montserrat              //M -> 10 400
        rights_C 16 400 #FFFFFF Montserrat                  //M -> 12 400
        contact_t 16 400 #FFFFFF Montserrat
        inst_t 16 400 #FFFFFF Montserrat

#special offers

    p_logo 32 700 #1C2135 Cormorant
    p_menu 16 500 #1C2135 Montserrat
    h1 intro_h 128 700 #FFFFFF Cormorant    //L -> 96 700   //M -> 40 700      //S -> 64 400
    p_desc_t 20 400 #FFFFFF Montserrat      //L -> 16 400
    p_after_intro  20 700 #FFFFFF Cormorant                 //M -> 16 700

    main
        h3 24 700  #000000 Montserrat
        p_t 24 500  #000000 Montserrat                      //M -> 14 500       //S -> 16 500
        p_t2 16 400  #000000 Montserrat                     //M -> 10 500       //S -> 16 400
        button 16 500 #ffffff Montserrat                    //M -> 14 500
    p_after_main 20 700  #1C2135                            //M -> 16 700

    footer
        h2 36 700 #FFFFFF Cormorant
        desc t 16 400 #FFFFFF Montserrat
        logo 160 700 #1C2135 Cormorant
        after logo t 11 400 #FFFFFF Montserrat
        rights_C 16 400 #FFFFFF Montserrat
        contact_t 16 400 #FFFFFF Montserrat
        inst_t 16 400 #FFFFFF Montserrat

#item
    p_logo 32 700 #1C2135 Cormorant
    p_menu 16 500 #1C2135 Montserrat

    main
        p_bread_crumbs_t 16 500 #1C2135 Montserrat          //M -> NONE
        h2 36 700 #000000 Cormorant
        h4 desc_t 20 700 #000000 Montserrat
        p 20 500 #000000 Montserrat
        h4 desc_t 20 700 #000000 Montserrat
        p 20 500 #000000 Montserrat
        h3 p_price 24 700 #000000 Montserrat
        button2 24 500 #ffffff Montserrat
        button_back 20 500  #000000 Montserrat              //M -> NONE
        h4 20 700 #000000 Montserrat

    footer
        h2 36 700 #FFFFFF Cormorant
        desc t 16 400 #FFFFFF Montserrat
        logo 160 700 #1C2135 Cormorant
        after logo t 11 400 #FFFFFF Montserrat
        rights_C 16 400 #FFFFFF Montserrat
        contact_t 16 400 #FFFFFF Montserrat
        inst_t 16 400 #FFFFFF Montserrat

#delivery

    p_logo 32 700 #1C2135 Cormorant
    p_menu 16 500 #1C2135 Montserrat

    main
        p_bread_crumbs_t 16 500 #1C2135 Montserrat
        h4 20 700 #1C2135 Montserrat
        p 20 500  #1C2135 Montserrat

    footer

#about
    p_logo 32 700 #1C2135 Cormorant
    p_menu 16 500 #1C2135 Montserrat

    main
        p_bread_crumbs_t 16 500 #1C2135 Montserrat
        h2 36 700 #1C2135 Cormorant
        p 20 500 #000000 Montserrat
        h3 20 700 #000000 Montserrat
        p 20 500 #000000 Montserrat
*/

/* example

.fluid-font-size {
	@include fluidFontSize(16px, 24px, 480px, 1280px, 18px);
  }
*/
.header__logo h2,
.hero h1 {
	font-family: "Cormorant", serif;
	font-style: normal;
	font-weight: 700;
}

.quote {
	font-family: "Cormorant Infant", serif;
	font-style: normal;
	font-weight: 700;
}

.main_portfolio h2 {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 700;
}

.nav .nav_link,
.portfolio_item__descripton div h3,
.portfolio_item_btn {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 500;
}

.portfolio_item__descripton div p {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 400;
}

body {
	height: 100vh;
	background-color: #fff;
	font-size: 16px;
	line-height: 1.25;
}

.container {
	width: 100%;
	max-width: calc(620px + 620px + 30px + 60px);
	padding-right: 30px;
	padding-left: 30px;
	margin: 0 auto;
}

@media only screen and (max-width: 1367px) {
	.container {
		padding-right: 80px;
		padding-left: 80px;
	}
}

@media only screen and (max-width: 810px) {
	.container {
		padding-right: 20px;
		padding-left: 20px;
	}
}

@media only screen and (max-width: 319px) {
	.container {
		padding-right: 20px;
		padding-left: 20px;
	}
}

/* ---------- NAVIGATION ---------- */
.header {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: 48px;
	background-color: #fff;
}

@media only screen and (max-width: 1920px) {
	.header {
		margin-top: 48px;
	}
}

@media only screen and (max-width: 1367px) {
	.header {
		margin-top: 25px;
	}
}

@media only screen and (max-width: 810px) {
	.header {
		margin-top: 25px;
	}
}

.header__inner {
	display: flex;
	height: 50px;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	padding: 0 467px 0 326px;
}

@media only screen and (max-width: 1920px) {
	.header__inner {
		height: 50px;
		padding: 0 151px 0 151px;
	}
}

@media only screen and (max-width: 1367px) {
	.header__inner {
		height: 40px;
		padding: 0 calc(90px - 3px) 0 90px;
	}
}

@media only screen and (max-width: 810px) {
	.header__inner {
		height: 40px;
		padding: 0 calc(31px - 3px) 0 31px;
	}
}

@media only screen and (max-width: 360px) {
	.header__inner {
		height: 40px;
		padding: 0 calc(31px - 3px) 0 31px;
	}
}

.header__logo {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	color: #1c2135;
	font-size: 32px;
	text-transform: uppercase;
}

#svg_logo circle:nth-of-type(1) {
	fill: #feef6d;
	transition: fill 0.4s ease-in-out;
}

#svg_logo circle:nth-of-type(2) {
	fill: #6dc1fe;
	transition: fill 0.4s ease-in-out;
}

#svg_logo:hover circle:nth-of-type(1) {
	fill: #6dc1fe;
}

#svg_logo:hover circle:nth-of-type(2) {
	fill: #feef6d;
}

.logo_icon {
	display: block;
	width: 48px;
	height: 37.01px;
	margin-right: 21px;
}

@media only screen and (max-width: 810px) {
	.logo_icon {
		display: none;
	}
}

.burger__menu {
	z-index: 2;
	display: none;
	padding: 14px 3px;
	border: 0;
	background-color: transparent;
	color: transparent;
	cursor: pointer;
}

@media only screen and (max-width: 1367px) {
	.burger__menu {
		display: block;
	}
}

.burger__menu .burger__item {
	position: relative;
	display: block;
	width: 40px;
	height: 3px;
	background-color: #1c2135;
	border-radius: 15px;
	color: transparent;
	font-size: 0;
}

.burger__menu .burger__item::before,
.burger__menu .burger__item::after {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background-color: #1c2135;
	border-radius: 15px;
	content: '';
}

.burger__menu .burger__item::before {
	transform: translateY(-10px);
}

.burger__menu .burger__item::after {
	transform: translateY(10px);
}

/* check in JS
.header.fixed {
	position: fixed;
	z-index: 2;
	//background-color: $colors__main_3;

	.header__inner {
		padding: 10px 0;
	}
}
*/
@media only screen and (max-width: 1367px) {
	.nav {
		display: none;
	}
}

.nav .nav_link {
	position: relative;
	margin-left: 110px;
	color: #1c2135;
	transition: color 0.2s ease;
	will-change: color;
}

.nav .nav_link,
.nav .nav_link:focus {
	color: #1c2135;
}

.nav .nav_link:hover,
.nav .nav_link:active {
	color: #476fff;
}

@media only screen and (max-width: 1920px) {
	.nav .nav_link {
		margin-left: 95px;
	}
}

@media only screen and (max-width: 1367px) {
	.nav .nav_link {
		margin-left: 0;
	}
}

.nav_active {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	display: block;
	display: flex;
	max-width: 100vw;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	margin-right: 0;
	margin-left: 0;
	background-color: #e43636;
}

.nav_active + #navToggle {
	display: block;
}

/* ---------- HERO ---------- */
:root {
	--height_quote__l: 52px;
	--height_quote__s: 40px;
}

.hero {
	display: flex;
	height: calc(100vh - var(--height_quote__l));
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-blend-mode: hard-light;
	background-color: #1c2135;
	background-image: url("https://via.placeholder.com/1920x1028");
	background-position: 50% 50%;
	background-size: cover;
}

@media only screen and (max-width: 1367px) {
	.hero {
		height: calc(100vh - var(--height_quote__s));
	}
}

@media only screen and (max-width: 810px) {
	.hero {
		height: calc(100vh - var(--height_quote__s));
		align-items: flex-end;
		justify-content: flex-end;
		background-size: initial;
	}
}

.hero h1 {
	color: #fff;
	font-size: 160px;
	text-transform: uppercase;
}

@media only screen and (max-width: 1920px) {
	.hero h1 {
		font-size: 128px;
	}
}

@media only screen and (max-width: 1367px) {
	.hero h1 {
		font-size: 96px;
	}
}

@media only screen and (max-width: 810px) {
	.hero h1 {
		height: calc(100vh - var(--height_quote__s));
		margin-bottom: 9px;
		font-size: 110px;
		text-orientation: mixed;
		transform: rotate(180deg);
		writing-mode: vertical-rl;
	}
}

.quote {
	display: flex;
	width: 100%;
	height: var(--height_quote__l);
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: #1c2135;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	vertical-align: center;
}

@media only screen and (max-width: 1367px) {
	.quote {
		height: var(--height_quote__s);
		font-size: 16px;
	}
}

@media only screen and (max-width: 810px) {
	.quote {
		height: var(--height_quote__s);
		font-size: 16px;
		text-align: center;
	}
}


/* ---------- MAIN PORTFOLIO ---------- */
.main_portfolio h2 {
	margin: 52px 0 36px 0;
	font-size: 24px;
}

.main_portfolio_grid {
	display: grid;
	gap: 1%;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}

@media only screen and (max-width: 810px) {
	.main_portfolio_grid {
		gap: 0;
		grid-template-columns: 1fr;
	}
}

.portfolio_item {
	min-width: 310px;
	max-width: 620px;
	margin: 0 0 75px 0;
	justify-self: center;
}

.preview_img {
	display: block;
	width: 100%;
	height: auto;
}

.portfolio_item__descripton {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: 18px 66px;
	color: #1c2135;
}

@media only screen and (max-width: 1920px) {
	.portfolio_item__descripton {
		margin: 15px 54px;
	}
}

@media only screen and (max-width: 1367px) {
	.portfolio_item__descripton {
		margin: 8px 17px;
	}
}

@media only screen and (max-width: 810px) {
	.portfolio_item__descripton {
		margin: 0;
	}
}

.portfolio_item__descripton div h3 {
	font-size: 24px;
	quotes: "“" "”";
}

@media only screen and (max-width: 1367px) {
	.portfolio_item__descripton div h3 {
		font-size: 14px;
	}
}

@media only screen and (max-width: 810px) {
	.portfolio_item__descripton div h3 {
		display: inline-block;
		font-size: 16px;
	}
}

.portfolio_item__descripton div p {
	margin-left: calc(24px / 2);
	font-size: 16px;
	line-height: 1;
}

@media only screen and (max-width: 1367px) {
	.portfolio_item__descripton div p {
		margin-left: calc(14px / 2);
		font-size: 10px;
	}
}

@media only screen and (max-width: 810px) {
	.portfolio_item__descripton div p {
		display: inline-block;
		margin-left: calc(14px / 2);
		font-size: 16px;
	}
}

.portfolio_item_btn {
	display: inline-block;
	padding: 14px 24px;
	background-color: #e43636;
	border-radius: 13px;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
}

@media only screen and (max-width: 1920px) {
	.portfolio_item_btn {
		padding: 10px 14px;
	}
}

@media only screen and (max-width: 1367px) {
	.portfolio_item_btn {
		padding: 5px 13px;
		font-size: 14px;
	}
}

@media only screen and (max-width: 810px) {
	.portfolio_item_btn {
		display: block;
		width: 100%;
		padding: 5px 0;
		font-size: 14px;
		text-align: center;
	}
}
=======
/*# sourceMappingURL=style.css.map */
7bc4dac81c6613e42f8f2cc2bc99c19efc57ad03
