
%Cormorant__b {
	font-family: $font-family__headers;
	font-style: $font-style__normal;
	font-weight: $font-weight__bold;
}

%Cormorant-Infant__b {
	font-family: $font-family_quote;
	font-style: $font-style__normal;
	font-weight: $font-weight__bold;
}

%Montserrat__m {
	font-family: $font-family__headers;
	font-style: $font-style__normal;
	font-weight: $font-weight__medium;
}

%Montserrat__r {
	font-family: $font-family__headers;
	font-style: $font-style__normal;
	font-weight: $font-weight__regular;
}
