body {
	height: 100vh;
	//width: 100vw;
	//height: 100vh;
	background-color: $colors__secondary;
	font-size: $font-size--base;
	line-height: $line-height--base;
}

.container {
	width: 100%;
	//max-width: calc(620px + 620px + 30px + 60px);
	padding-right: 30px;
	padding-left: 30px;
	margin: 0 auto;

	@include not-xhg {
		max-width: 100%;
		padding-right: 150px;
		padding-left: 150px;
	}

	@include not-hg {
		padding-right: 90px;
		padding-left: 90px;
	}

	@include not-lg {
		padding-right: 31px;
		padding-left: 31px;
	}

	@include not-sm {
		padding-right: 31px;
		padding-left: 31px;
	}
}

.container-h {
	//width: 100%;
	//max-width: calc(620px + 620px + 30px + 60px);
	max-width: 1270px;
	margin: 0 auto;

	@include not-xhg {
		min-width: 1064px;
		max-width: calc(1270px + 150px + 150px);
		padding-right: 150px;
		padding-left: 150px;

		//padding: 0 151px 0 151px;
		//padding-right: 150px;
		//padding-left: 150px;
	}

	@include not-hg {
		min-width: calc(310px + 310px + 10px);
		max-width: calc(1270px + 150px + 150px);
		padding-right: 90px;
		padding-left: 90px;
	}

	@include not-lg {
		min-width: 280px;
		max-width: calc(620px + 31px + 31px);
		padding-right: 31px;
		padding-left: 31px;
	}
}

/* ---------- NAVIGATION ---------- */

.header {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: 48px;
	background-color: $colors__secondary;

	@include not-xhg {
		margin-top: 48px;
	}

	@include not-hg {
		margin-top: 25px;
	}

	@include not-lg {
		margin-top: 25px;
	}
}

.header__inner {
	display: flex;
	height: 50px;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	//padding: 0 467px 0 326px;//0 395px 0 395px;
	padding-right: 11%;

	@include not-xhg {
		height: 50px;
		//padding: 0 151px 0 151px;
		padding: 0;
	}

	@include not-hg {
		height: 40px;
		//padding: 0 calc(90px - 3px) 0 90px;
	}

	@include not-lg {
		height: 40px;
		//padding: 0 calc(31px - 3px) 0 31px;
	}

	@include not-md {
		height: 40px;
		padding: 0 calc(31px - 3px) 0 31px;
	}
}

.header__logo {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	color: $colors__primary;
	font-size: $font-size--h2--sm;
	text-transform: uppercase;

	h2 { @extend %Cormorant__b; }
}

#svg_logo {
	circle:nth-of-type(1) {
		fill: $colors__svg-2;
		transition: fill 0.4s ease-in-out;
	}

	circle:nth-of-type(2) {
		fill: $colors__svg-1;
		transition: fill 0.4s ease-in-out;
	}

	&:hover {
		circle:nth-of-type(1) {
			fill: $colors__svg-1;
		}

		circle:nth-of-type(2) {
			fill: $colors__svg-2;
		}
	}
}

.logo_icon {
	display: block;
	width: 48px;
	height: 37.01px;
	padding-right: 0;
	margin-right: 21px;

	@include not-hg {
		padding-right: 8px;
		margin-right: 6px;
	}

	@include not-lg {
		display: none;
	}
}

.burger__menu {
	z-index: 2;
	display: none;
	padding: 14px 3px;
	border: 0;
	background-color: transparent;
	color: transparent;
	cursor: pointer;

	@include not-hg {
		display: block;
	}

	.burger__item {
		position: relative;
		display: block;
		width: 40px;
		height: 3px;
		background-color: $colors__primary;
		border-radius: 15px;
		color: transparent;
		font-size: 0;

		&::before,
		&::after {
			position: absolute;
			//position: relative;
			display: block;
			width: 100%;
			height: 100%;
			background-color: $colors__primary;
			border-radius: 15px;
			content: '';
		}

		&::before {
			transform: translateY(-10px);
		}

		&::after {
			transform: translateY(10px);
		}
	}
}

/* check in JS
.header.fixed {
	position: fixed;
	z-index: 2;
	//background-color: $colors__main_3;

	.header__inner {
		padding: 10px 0;
	}
}
*/
.nav {
	@include not-hg {
		display: none;
	}

	.nav_link {
		position: relative;
		margin-left: 110px;

		@extend %Montserrat__m;

		color: $color__t__main;

		@include link-color($color__t__main, $link_hover);

		@include not-xhg {
			margin-left: 95px;
		}

		@include not-hg {
			margin-left: 0;
		}
	}
}

.nav_active {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	display: block;
	display: flex;
	max-width: 100vw;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	margin-right: 0;
	margin-left: 0;
	background-color: $colors__main_1;
}

.nav_active + #navToggle {
	display: block;
}

/* ---------- HERO ---------- */
:root {
	--height_quote__l: 52px;
	--height_quote__s: 40px;
}

.hero {
	display: flex;
	height: calc(100vh - var(--height_quote__l));
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-blend-mode: hard-light;
	background-color: $colors__primary;
	//background-image: url("../../static/img/main/hero_bg.jpg");
	background-image: url("https://via.placeholder.com/1920x1028");
	background-position: 50% 50%;
	background-size: cover;

	@include not-hg {
		height: calc(100vh - var(--height_quote__s));
	}

	@include not-lg {
		height: calc(100vh - var(--height_quote__s));
		align-items: flex-end;
		justify-content: flex-end;
		background-size: initial;
	}

	h1 {
		@extend %Cormorant__b;

		color: $colors__secondary;
		font-size: $font-size--h1;
		text-transform: uppercase;

		@include not-xhg {
			font-size: $font-size--h1--sm;
		}

		@include not-hg {
			font-size: $font-size--h1--xs;
		}

		@include not-lg {
			height: calc(100vh - var(--height_quote__s));
			margin-bottom: 9px;
			font-size: $font-size--h1--s;
			text-orientation: mixed;
			transform: rotate(180deg);
			writing-mode: vertical-rl;
		}
	}
}

.quote {
	@extend %Cormorant-Infant__b;

	display: flex;
	width: 100%;
	height: var(--height_quote__l);
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: $colors__primary;
	color: $colors__secondary;
	font-size: $font-size--l;
	text-transform: uppercase;
	vertical-align: middle;

	@include not-hg {
		height: var(--height_quote__s);
		font-size: $font-size--base;
	}

	@include not-lg {
		height: var(--height_quote__s);
		font-size: $font-size--base;
		text-align: center;
	}

	&.--secondary_bgc {
		background-color: $colors__secondary;
		color: $colors__primary;
	}
}


/* ---------- MAIN PORTFOLIO ---------- */
.main_portfolio {
	h2 {
		@extend %Montserrat__b;

		margin: 52px 0 36px 0;
		font-size: $font-size--h3;
		grid-column-end: 3;
		grid-column-start: 1;

		@include not-xhg {
			margin: 47px 0 36px 0;
		}

		@include not-hg {
			margin: 59px 0 13px 0;
		}

		@include not-lg {
			width: 100%;
			max-width: 620px;
			margin: 32px 0 19px 0;
			grid-column-end: 2;
			grid-column-start: 1;
		}
	}
}

.main_portfolio_grid {
	display: grid;
	justify-content: center;
	column-gap: 30px;
	grid-template-columns: minmax(310px, 620px) minmax(310px, 620px);
	grid-template-rows: auto;

	@include not-hg {
		column-gap: 1%;
	}

	@include not-lg {
		justify-content: center;
		gap: 0;
		grid-template-columns: 1fr;
		justify-items: center;
	}
}

.portfolio_item {
	min-width: 310px;
	max-width: 620px;
	margin: 0 0 79px 0;

	@include not-xhg {
		margin: 0 0 60px 0;
	}

	@include not-hg {
		margin: 0 0 37px 0;
	}

	@include not-lg {
		min-width: 298px;
		margin: 0 0 30px 0;
	}
}

.preview_img {
	display: block;
	width: 100%;
	height: auto;
}

.portfolio_item__descripton {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: 17px 66px;
	color: $colors__primary;

	@include not-xhg {
		margin: 16px 54px;
	}

	@include not-hg {
		margin: 10px 17px;
	}

	@include not-lg {
		margin: 12px 0;
	}

	div {
		@include not-lg {
			margin: 0 auto 8px auto;
		}

		h3 {
			@extend %Montserrat__m;

			font-size: $font-size--h3;
			quotes: "“" "”";

			@include not-hg {
				font-size: $font-size--sm;
			}

			@include not-lg {
				display: inline-block;
				font-size: $font-size--base;
			}
		}

		p {
			@extend %Montserrat__r;

			margin-left: calc(#{$font-size--h3} / 2);
			font-size: $font-size--base;
			line-height: 1;

			@include not-hg {
				margin-left: calc(#{$font-size--sm} / 2);
				font-size: $font-size--xxs;
			}

			@include not-lg {
				display: inline-block;
				margin-left: calc(#{$font-size--sm} / 2);
				font-size: $font-size--base;
			}
		}
	}
}

.portfolio_item_btn {
	@extend %Montserrat__m;

	@include btn-bgc($colors__main_1, $button_click);

	display: inline-block;
	padding: 14px 24px;
	background-color: $colors__main_1;
	border-radius: 13px;
	color: $colors__secondary;
	font-size: $font-size--base;
	text-transform: uppercase;

	@include not-xhg {
		padding: 10px 14px;
	}

	@include not-hg {
		padding: 5px 13px;
		font-size: $font-size--sm;
	}

	@include not-lg {
		display: block;
		width: 100%;
		padding: 5px 0;
		font-size: $font-size--sm;
		text-align: center;
	}
}

/* ---------- FOOTER ---------- */
.footer {
	background-color: $footer__bg_prime_color;
	color: $color__t__h;
}

.footer__inner {
	display: flex;
	flex-flow: column;
	padding-top: 69px;

	@include not-hg {
		padding-top: 36px;
	}

	@include not-lg {
		padding-top: 30px;
	}

	& > p {
		padding-bottom: 12px;

		@include not-hg {
			padding-bottom: 25px;
		}

		@include not-lg {
			padding-bottom: 20px;
		}
	}

	p,
	a {
		@extend %Montserrat__r;
	}

	h1,
	h2 {
		@extend %Cormorant__b;
	}

	h1 {
		overflow: hidden;
		width: min-content;
		order: 2;
		padding-right: 0.1em;
		padding-left: 50%;
		margin-bottom: 30px;
		margin-left: -50%;
		background-color: $footer__bg_second_color;
		color: $footer__bg_prime_color;
		font-size: $font-size--h1;
		line-height: 0.6;
		text-transform: uppercase;

		@include not-hg {
			width: auto;
			margin-bottom: 24px;
			font-size: $font-size--h1--xs;
		}

		@include not-lg {
			overflow: auto;
			order: 4;
			padding-top: 27px;
			padding-right: 0;
			padding-bottom: 27px;
			padding-left: 0;
			margin-top: 0;
			margin-right: -30px;
			margin-bottom: 0;
			margin-left: -30px;
			background-color: $footer__bg_second_color;
			color: $footer__bg_prime_color;
			font-size: $font-size--h1--xxs;
			line-height: $line-height--base;
			text-align: center;
		}
	}
}

.footer_item {
	display: flex;
	flex-flow: nowrap;
	align-content: flex-start;
	align-items: flex-start;
	order: 1;
	margin-bottom: 35px;

	@include not-hg {
		margin-bottom: 20px;
	}

	@include not-lg {
		flex-direction: column;
		margin-bottom: 20px;
	}
}

.footer__first_column {
	display: inline-flex;
	width: calc(274px + 46px);
	flex-direction: column;

	@include not-hg {
		width: calc(274px + 26px);
	}

	a {
		margin-top: calc(-1 * (#{$font-size--h2} * #{$line-height--base} - #{$font-size--h2}));
		margin-bottom: 8px;
		font-size: $font-size--h2;
		text-transform: uppercase;
	}

	p {
		font-size: $font-size--base;

		@include not-hg {
			font-size: $font-size--sm;
		}

		@include not-lg {
			margin-bottom: 31px;
		}
	}
}

.footer__second_column {
	.footer--button {
		//display: inline-block;
		padding: 4px 19px;
		background: $colors__secondary;
		border-radius: 13px;
		color: $color__t__main;
		font-size: $font-size--base;
		text-transform: uppercase;

		@include not-hg {
			padding: 4px 43px;
		}

		@include not-lg {
			padding: 4px 10px;
		}
	}

	.footer-item-social {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		margin-top: 22px;
		font-size: $font-size--base;

		@include not-hg {
			flex-direction: column;
		}

		@include not-lg {
			margin-top: 33px;
		}

		a {
			margin-right: 18px;

			@include not-lg {
				margin-bottom: 11px;
			}
		}
	}
}

.footer__about_us {
	max-width: 550px;
	order: 3;
	font-size: $font-size--xs;

	@include not-hg {
		max-width: 500px;
		font-size: $font-size--xxs;
	}
}

.footer__copyright {
	order: 4;

	@include not-hg {
		font-size: $font-size--s;
	}

	@include not-hg {
		order: 2;
	}
}
