body {
	height: 100vh;
	//width: 100vw;
	//height: 100vh;
	background-color: $colors__secondary;
	font-size: $font-size--base;
	line-height: $line-height--base;
}

/*
.container {
	width: 100%;
	//max-width: calc(620px + 620px + 30px + 60px);
	padding-right: 30px;
	padding-left: 30px;
	margin: 0 auto;

	@include not-xhg {
		max-width: 100%;
		padding-right: 150px;
		padding-left: 150px;
	}

	@include not-hg {
		padding-right: 90px;
		padding-left: 90px;
	}

	@include not-lg {
		padding-right: 31px;
		padding-left: 31px;
	}

	@include not-sm {
		padding-right: 31px;
		padding-left: 31px;
	}
}
*/
.container-h {
	//width: 100%;
	//max-width: calc(620px + 620px + 30px + 60px);
	max-width: 1270px;
	margin: 0 auto;

	@include not-xhg {
		min-width: 1064px;
		max-width: calc(1270px + 150px + 150px);
		padding-right: 150px;
		padding-left: 150px;

		//padding: 0 151px 0 151px;
		//padding-right: 150px;
		//padding-left: 150px;
	}

	@include not-hg {
		min-width: calc(310px + 310px + 10px);
		max-width: calc(1270px + 150px + 150px);
		padding-right: 90px;
		padding-left: 90px;
	}

	@include not-lg {
		min-width: 280px;
		max-width: calc(620px + 31px + 31px);
		padding-right: 31px;
		padding-left: 31px;
	}
}

.container--special {
	//width: 100%;
	//max-width: calc(620px + 620px + 30px + 60px);
	max-width: 1270px;
	margin: 0 auto;

	@include not-xhg {
		min-width: 1064px;
		max-width: calc(1270px + 150px + 150px);
		padding-right: 150px;
		padding-left: 150px;

		//padding: 0 151px 0 151px;
		//padding-right: 150px;
		//padding-left: 150px;
	}

	@include not-hg {
		width: 100%;
		min-width: 100%;
		padding: 0;
		margin: 0 auto;

		.container--special-restore {
			min-width: calc(310px + 310px + 10px);
			max-width: calc(1270px + 150px + 150px);
			padding-right: 90px;
			padding-left: 90px;
		}
	}

	@include not-lg {
		.container--special-restore {
			min-width: 280px;
			max-width: calc(620px + 31px + 31px);
			padding-right: 31px;
			padding-left: 31px;
		}
	}
}

/* ---------- NAVIGATION ---------- */

.header {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: 48px;
	background-color: $colors__secondary;

	@include not-xhg {
		margin-top: 48px;
	}

	@include not-hg {
		margin-top: 25px;
	}

	@include not-lg {
		margin-top: 25px;
	}
}

.header__inner {
	display: flex;
	height: 50px;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	//padding: 0 467px 0 326px;//0 395px 0 395px;
	padding-right: 11%;

	@include not-xhg {
		height: 50px;
		//padding: 0 151px 0 151px;
		padding: 0;
	}

	@include not-hg {
		height: 40px;
		//padding: 0 calc(90px - 3px) 0 90px;
	}

	@include not-lg {
		height: 40px;
		//padding: 0 calc(31px - 3px) 0 31px;
	}

	@include not-md {
		height: 40px;
		//padding: 0 calc(31px - 3px) 0 31px;
	}
}

.header__logo {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	color: $colors__primary;
	font-size: $font-size--h2--sm;
	text-transform: uppercase;

	h2 { @extend %Cormorant__b; }
}

#svg_logo {
	circle:nth-of-type(1) {
		fill: $colors__svg-2;
		transition: fill 0.4s ease-in-out;
	}

	circle:nth-of-type(2) {
		fill: $colors__svg-1;
		transition: fill 0.4s ease-in-out;
	}

	&:hover {
		circle:nth-of-type(1) {
			fill: $colors__svg-1;
		}

		circle:nth-of-type(2) {
			fill: $colors__svg-2;
		}
	}
}

.logo_icon {
	display: block;
	width: 48px;
	height: 37.01px;
	padding-right: 0;
	margin-right: 21px;

	@include not-hg {
		padding-right: 8px;
		margin-right: 6px;
	}

	@include not-lg {
		display: none;
	}
}

.burger__menu {
	z-index: 2;
	display: none;
	padding: 14px 3px;
	border: 0;
	background-color: transparent;
	color: transparent;
	cursor: pointer;

	@include not-hg {
		display: block;
	}

	.burger__item {
		position: relative;
		display: block;
		width: 40px;
		height: 3px;
		background-color: $colors__primary;
		border-radius: 15px;
		color: transparent;
		font-size: 0;

		&::before,
		&::after {
			position: absolute;
			//position: relative;
			display: block;
			width: 100%;
			height: 100%;
			background-color: $colors__primary;
			border-radius: 15px;
			content: '';
		}

		&::before {
			transform: translateY(-10px);
		}

		&::after {
			transform: translateY(10px);
		}
	}
}

/* check in JS
.header.fixed {
	position: fixed;
	z-index: 2;
	//background-color: $colors__main_3;

	.header__inner {
		padding: 10px 0;
	}
}
*/
.nav {
	@include not-hg {
		display: none;
	}

	.nav_link {
		position: relative;
		margin-left: 110px;

		@extend %Montserrat__m;

		color: $color__t__main;

		@include link-color($color__t__main, $link_hover);

		@include not-xhg {
			margin-left: 95px;
		}

		@include not-hg {
			margin-left: 0;
		}
	}
}

.nav_active {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	display: block;
	display: flex;
	max-width: 100vw;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	margin-right: 0;
	margin-left: 0;
	background-color: $colors__main_1;
}

.nav_active + #navToggle {
	display: block;
}

/* ---------- HERO ---------- */
:root {
	--height_quote__l: 52px;
	--height_quote__s: 40px;
}

.hero {
	display: flex;
	height: calc(100vh - var(--height_quote__l));
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-blend-mode: hard-light;
	background-color: $colors__primary;
	//background-image: url("../../static/img/main/hero_bg.jpg");
	background-image: url("https://via.placeholder.com/1920x1028");
	background-position: 50% 50%;
	background-size: cover;

	@include not-hg {
		height: calc(100vh - var(--height_quote__s));
	}

	@include not-lg {
		height: calc(100vh - var(--height_quote__s));
		align-items: flex-end;
		justify-content: flex-end;
		background-size: initial;
	}

	h1 {
		@extend %Cormorant__b;

		color: $colors__secondary;
		font-size: $font-size--h1;
		text-transform: uppercase;

		@include not-xhg {
			font-size: $font-size--h1--sm;
		}

		@include not-hg {
			font-size: $font-size--h1--xs;
		}

		@include not-lg {
			height: calc(100vh - var(--height_quote__s));
			margin-bottom: 9px;
			font-size: $font-size--h1--s;
			text-orientation: mixed;
			transform: rotate(180deg);
			writing-mode: vertical-rl;
		}
	}
}

.quote {
	@extend %Cormorant-Infant__b;

	display: flex;
	width: 100%;
	height: var(--height_quote__l);
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: $colors__primary;
	color: $colors__secondary;
	font-size: $font-size--l;
	text-transform: uppercase;
	vertical-align: middle;

	@include not-hg {
		height: var(--height_quote__s);
		font-size: $font-size--base;
	}

	@include not-lg {
		height: var(--height_quote__s);
		font-size: $font-size--base;
		text-align: center;
	}

	&.--secondary_bgc {
		background-color: $colors__secondary;
		color: $colors__primary;
	}
}

/* ---------- MAIN PORTFOLIO ---------- */
.main_portfolio {
	h2 {
		@extend %Montserrat__b;

		margin: 52px 0 36px 0;
		font-size: $font-size--h3;
		grid-column-end: 3;
		grid-column-start: 1;

		@include not-xhg {
			margin: 47px 0 36px 0;
		}

		@include not-hg {
			margin: 59px 0 13px 0;
		}

		@include not-lg {
			width: 100%;
			max-width: 620px;
			margin: 32px 0 19px 0;
			grid-column-end: 2;
			grid-column-start: 1;
		}
	}
}

.main_portfolio_grid {
	display: grid;
	justify-content: center;
	column-gap: 30px;
	grid-template-columns: minmax(310px, 620px) minmax(310px, 620px);
	grid-template-rows: auto;

	@include not-hg {
		column-gap: 1%;
	}

	@include not-lg {
		justify-content: center;
		gap: 0;
		grid-template-columns: 1fr;
		justify-items: center;
	}
}

.portfolio_item {
	min-width: 310px;
	max-width: 620px;
	margin: 0 0 79px 0;

	@include not-xhg {
		margin: 0 0 60px 0;
	}

	@include not-hg {
		margin: 0 0 39px 0;
	}

	@include not-lg {
		min-width: 298px;
		margin: 0 0 30px 0;
	}
}

.preview_img {
	display: block;
	width: 100%;
	height: auto;
}

.portfolio_item__descripton {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: 17px 66px;
	color: $colors__primary;

	@include not-xhg {
		margin: 16px 54px;
	}

	@include not-hg {
		margin: 8px 17px;
	}

	@include not-lg {
		margin: 12px 0;
	}

	div {
		@include not-lg {
			margin: 0 auto 8px auto;
		}

		h3 {
			@extend %Montserrat__m;

			font-size: $font-size--h3;
			quotes: "“" "”";

			@include not-hg {
				font-size: $font-size--sm;
			}

			@include not-lg {
				display: inline-block;
				font-size: $font-size--base;
			}
		}

		p {
			@extend %Montserrat__r;

			margin-left: calc(#{$font-size--h3} / 2);
			font-size: $font-size--base;
			line-height: 1;

			@include not-hg {
				margin-left: calc(#{$font-size--sm} / 2);
				font-size: $font-size--xxs;
			}

			@include not-lg {
				display: inline-block;
				margin-left: calc(#{$font-size--sm} / 2);
				font-size: $font-size--base;
			}
		}
	}
}

.portfolio_item_btn {
	@extend %Montserrat__m;

	@include btn-bgc($colors__main_1, $button_click);

	display: inline-block;
	padding: 14px 24px;
	background-color: $colors__main_1;
	border-radius: 13px;
	color: $colors__secondary;
	font-size: $font-size--base;
	text-transform: uppercase;

	@include not-xhg {
		padding: 10px 14px;
	}

	@include not-hg {
		padding: 5px 13px;
		font-size: $font-size--sm;
	}

	@include not-lg {
		display: block;
		width: 100%;
		padding: 5px 0;
		font-size: $font-size--sm;
		text-align: center;
	}
}

/* ---------- FOOTER ---------- */
.footer {
	background-color: $footer__bg_prime_color;
	color: $color__t__h;
}

.footer__inner {
	display: flex;
	flex-flow: column;
	padding-top: 69px;
	padding-bottom: 20px;

	@include not-hg {
		padding-top: 36px;
	}

	@include not-lg {
		padding-top: 30px;
		padding-bottom: 0;
	}

	& > p {
		padding-bottom: 12px;

		@include not-xhg {
			padding-bottom: 25px;
		}

		@include not-hg {
			padding-bottom: 25px;
		}

		@include not-lg {
			padding-bottom: 20px;
		}
	}

	p,
	a {
		@extend %Montserrat__r;
	}

	h1,
	h2 {
		@extend %Cormorant__b;
	}

	h1 {
		overflow: hidden;
		width: min-content;
		order: 2;
		padding-right: 0.1em;
		padding-left: 50%;
		margin-bottom: 30px;
		margin-left: -50%;
		background-color: $footer__bg_second_color;
		color: $footer__bg_prime_color;
		font-size: $font-size--h1;
		line-height: 0.6;
		text-transform: uppercase;

		@include not-hg {
			width: auto;
			order: 2;
			margin-bottom: 24px;
			font-size: $font-size--h1--xs;
		}

		@include not-lg {
			overflow: auto;
			order: 4;
			padding-top: 27px;
			padding-right: 0;
			padding-bottom: 27px;
			padding-left: 0;
			margin-top: 0;
			margin-right: -30px;
			margin-bottom: 0;
			margin-left: -30px;
			background-color: $footer__bg_second_color;
			color: $footer__bg_prime_color;
			font-size: $font-size--h1--xxs;
			line-height: $line-height--base;
			text-align: center;
		}
	}
}

.footer_item {
	display: flex;
	flex-flow: nowrap;
	align-content: flex-start;
	align-items: flex-start;
	order: 1;
	margin-bottom: 35px;

	@include not-hg {
		margin-bottom: 20px;
	}

	@include not-lg {
		flex-direction: column;
		margin-bottom: 20px;
	}
}

.footer__first_column {
	display: inline-flex;
	width: calc(274px + 46px);
	flex-direction: column;

	@include not-hg {
		width: calc(274px + 26px);
	}

	a {
		margin-top: calc(-1 * (#{$font-size--h2} * #{$line-height--base} - #{$font-size--h2}));
		margin-bottom: 8px;
		font-size: $font-size--h2;
		text-transform: uppercase;
	}

	p {
		font-size: $font-size--base;

		@include not-hg {
			font-size: $font-size--sm;
		}

		@include not-lg {
			margin-bottom: 31px;
		}
	}
}

.footer__second_column {
	.footer--button {
		//display: inline-block;
		padding: 4px 19px;
		background: $colors__secondary;
		border-radius: 13px;
		color: $color__t__main;
		font-size: $font-size--base;
		text-transform: uppercase;

		@include link-color($color__t__main, $colors__main_2);

		@include not-hg {
			padding: 4px 43px;
		}

		@include not-lg {
			padding: 4px 10px;
		}
	}

	.footer-item-social {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		margin-top: 22px;
		font-size: $font-size--base;

		@include not-hg {
			flex-direction: row;
		}

		@include not-lg {
			flex-direction: column;
			margin-top: 33px;
		}

		a {
			margin-right: 18px;

			@include not-lg {
				margin-bottom: 11px;
			}
		}
	}
}

.footer__about_us {
	max-width: 550px;
	order: 3;
	font-size: $font-size--xs;

	@include not-hg {
		max-width: 500px;
		order: 3;
		font-size: $font-size--xxs;
	}
}

.footer__copyright {
	order: 4;

	@include not-hg {
		order: 4;
		font-size: $font-size--s;
	}

	@include not-lg {
		order: 2;
	}
}

/* ---------- ARTWORKS ---------- */

.art-division {
	margin-top: 153px;
	margin-right: 26px;
	margin-left: 26px;
	line-height: $line-height--custom;

	@include not-xhg {
		margin-top: 129px;
	}

	@include not-hg {
		margin-top: 0;
		margin-right: 0;
		margin-left: 0;
	}

	a {
		@extend %Montserrat__m;
	}

	h3 {
		@extend %Montserrat__b;

		font-size: $font-size--h3;

		&:last-of-type {
			margin-bottom: 40px;
		}
	}

	h4 {
		@extend %Montserrat__b;

		margin-bottom: 25px;
		font-size: $font-size--h4;
	}

	h2 {
		@extend %Cormorant__b;

		margin-bottom: 20px;
		font-size: $font-size--h2;
	}

	p {
		@extend %Montserrat__m;

		margin-bottom: 24px;
		font-size: $font-size--l;
		text-align: justify;

		&:first-of-type {
			margin-bottom: 48px;

			@include not-xhg {
				margin-bottom: 24px;
			}

			@include not-hg {
				margin-bottom: 48px;
			}
		}

		&:last-of-type {
			margin-bottom: 20px;
		}
	}
}

.breadcrumb {
	@extend %Montserrat__m;

	@include not-hg {
		display: none;
	}

	a {
		margin-right: 13px;

		&::after {
			display: inline-block;
			width: 8px;
			height: 8px;
			margin-left: 10px;
			background-color: $colors__main_4;
			content: '';

			@include not-xhg {
				margin-left: 7px;
			}
		}
	}
}

.art-item {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-top: 10px;
	margin-bottom: 54px;
	//
	--art-item_margin-r__full: 60px;
	--art-item_margin-r__xhg: 34px;

	@include not-hg {
		flex-direction: column;
		margin-top: 0;
	}
}

.art-item__img-section {
	width: auto;
	min-width: 474px;
	//width: calc(54% - var(--art-item_margin-r__full) / 2);

	margin-top: 10px;

	@include not-hg {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 88px;
		margin-top: 0;
		margin-bottom: 14px;
		background-color: $colors__primary;
		background-color: #233066; //delete
		justify-items: center;
	}

	@include not-lg {
		min-width: auto;
		padding-top: 120px;
	}

	.art-img_slider {
		//min-width: 474px;
		max-width: 533px;

		@include not-hg {
			width: 100%;
			//max-width: calc(var(--breakpoints__lg) - 90px);
			max-width: calc(1270px + 150px + 150px);
			padding-right: 90px;
			padding-left: 90px;
		}

		/*
		slick-slider slick-initialized
		slick-list draggable
		slick-track
		slick-slide */

		.slick-slider {
			margin-bottom: 20px;
			//background-color: $colors__primary;
			background-color: transparent;

			.slick-list {/*
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-content: center;
				align-items: center;
				justify-content: center; */
				.slick-track {
					display: flex !important;
					flex-direction: row;
					flex-wrap: nowrap;
					align-content: center;
					align-items: center;
					justify-content: center;
				}

				.slick-slide {
					//top: 50% !important;
					//height: 720px;
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					align-content: center;
					align-items: center;
					justify-content: center;
					//padding: 0 48px;
					padding: 0;
					background-color: $colors__primary;

					@include not-xhg {
						//height: 650px;
					}

					@include not-hg {
						padding: 0;
					}

					img {
						display: block;
						max-width: 100%;
						height: auto;
					}
				}
			}
		}

		.slider-nav {
			position: relative;
			margin: 0 40px;
			background-color: transparent;

			@include not-hg {
				display: none;
			}

			.slick-track {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-content: center;
				align-items: stretch;
				justify-content: stretch;

				.slick-slide {
					height: auto;
					//min-width: 95px;
					//max-width: 95px;
					//height: 95px;
					//max-height: 95px;
					padding: 4px;
					margin-right: 10px;

					img {
						display: block;
						width: 100%;
						height: auto;
					}
				}
			}

			.slick-list {
				padding: 0 !important;
			}
		}

		.slick-next,
		.slick-prev {
			position: absolute;
			top: 50%;
			display: block;
			width: 40px;
			height: 20px;
			height: 100%;
			padding: 0;
			border: none;
			background: transparent;
			color: transparent;
			cursor: pointer;
			//position: absolute;
			//width: 40px;
			//height: 20px;
			font-size: 0;
			line-height: 0;
			outline: none;
			transform: translate(0, -50%);

			&::before {

				//font-family: 'slick';
				font-size: 20px;
				line-height: 1;
				opacity: 0.75;
			}
		}

		.slick-next {
			right: -40px;

			&::before {
				content: '→';
				//content: url("../../static/img/svg/sprite.svg#svg_slide_next_icon");
				//content: url("data:image/svg+xml,%3Csvg width='34' height='61' viewBox='0 0 34 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L30.5 30.5L2 59' stroke='#1C2135' stroke-width='4'/%3E %3C/svg%3E");
				content: url("../../static/img/svg/svg_slide_next_icon.svg");

				@include not-hg {
					content: url("../../static/img/svg/svg_slide_next_icon__sm.svg");
				}
			}
		}

		.slick-prev {
			left: -40px;

			&::before {
				content: '←';
				content: url("../../static/img/svg/svg_slide_prew_icon.svg");

				@include not-hg {
					content: url("../../static/img/svg/svg_slide_prew_icon__sm.svg");
				}
			}
		}

		.art-img_slider__main-img {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $colors__primary;
		}
	}

	////

	.art-img_slider.--full_width--centered {
		max-width: initial;
	}

	.--full_width--centered {
		position: absolute;
		z-index: 1000;
		top: 0;
		right: 0;
		//bottom: 0;
		left: 0;
		//height: auto;
		background-color: rgba(105, 105, 105, 0.425);
	}

	////
}

.art-item__content {
	display: flex;
	width: calc(54% - var(--art-item_margin-r__full) / 2);
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: flex-start;
	align-items: flex-start;
	margin-left: var(--art-item_margin-r__full);

	@include not-xhg {
		//width: auto;
		width: calc(54% + var(--art-item_margin-r__xhg));
		margin-left: var(--art-item_margin-r__xhg);
	}

	@include not-hg {
		width: auto;
		margin-left: 0;
	}
}

.recent-product-list__inner {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	.product-preview__item {
		margin-right: 27px;

		&:last-of-type {
			margin-right: 0;
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}

		@include not-xhg {
			margin-right: 43px;

			&:nth-of-type(n+4) { // change to slider // temp version
				margin-right: 0;
			}

			&:nth-of-type(n+5) { // change to slider // temp version
				display: none;
			}
		}

		@include not-hg {
			//max-width: 170px;
			margin-right: 20px;

			&:nth-of-type(n+3) { // change to slider // temp version
				margin-right: 0;
			}

			&:nth-of-type(n+4) { // change to slider // temp version
				display: none;
			}
		}

		@include not-lg {
			//max-width: 170px;
			margin-right: 20px;

			&:nth-of-type(n+2) { // change to slider // temp version
				margin-right: 0;
			}

			&:nth-of-type(n+3) { // change to slider // temp version
				display: none;
			}
		}
	}
}

.recent-product-list,
.rand-product-list {
	margin-bottom: 54px;

	h4 {
		margin-bottom: 20px;
	}
}

.back_button {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-self: end;
	justify-content: center;
	font-size: $font-size--l;

	@include not-hg {
		display: none;
	}

	.back_icon {
		width: 102px;
		height: 24px;
		fill: $colors__primary;
	}

	span {
		padding-left: 10px;
	}
}

.--ext_padding {
	padding: 14px 77px;

	@include not-hg {
		padding: 14px 100px;
	}
}

/* ---------- ABOUT ---------- */

.about__wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-top: 210px;
	margin-right: 26px;
	margin-bottom: 64px;
	margin-left: 26px;
	line-height: $line-height--custom;

	--gap: 30px;

	@include not-xhg {
		margin-top: 184px;
		margin-bottom: 48px;
	}

	@include not-hg {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		margin-top: 168px;
		margin-right: 0;
		margin-bottom: 48px;
		margin-left: 0;
	}

	@include not-hg {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		margin-top: 144px;
		margin-right: 0;
		margin-bottom: 48px;
		margin-left: 0;
	}

	h2 {
		@extend %Cormorant__b;

		margin-top: 8px;
		margin-bottom: 14px;
		font-size: $font-size--h2;
		text-transform: uppercase;

		@include not-xhg {
			margin-top: 0;
			margin-bottom: 18px;
		}
	}

	p {
		@extend %Montserrat__m;

		margin-bottom: 24px;
		font-size: $font-size--l;
		text-align: justify;

		@include not-lg {
			text-align: start;
		}

		&:first-of-type {
			margin-bottom: 64px;

			@include not-xhg {
				margin-bottom: 48px;
			}

			@include not-lg {
				margin-bottom: 62px;
			}
		}

		&:last-of-type {
			margin-bottom: 20px;
		}
	}

	h4 {
		@extend %Montserrat__b;

		margin-bottom: 16px;
		font-size: $font-size--h4;

		@include not-xhg {
			margin-bottom: 24px;
		}
	}
}

.about__img {
	display: flex;
	width: 32%;
	max-width: 385px;
	align-items: center;
	justify-content: center;
	//background-color: $colors__primary;
	justify-items: center;

	@include not-xhg {
		width: 38%;
		align-items: flex-start;
		margin-top: 8px;
	}

	@include not-hg {
		width: 100%;
		margin-top: 0;
		margin-bottom: 68px;
	}

	@include not-hg {
		width: 100%;
		margin-top: 0;
		margin-bottom: 28px;
	}

	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.about__content {
	width: calc(68% - var(--gap));
	margin-left: var(--gap);

	@include not-xhg {
		width: calc(62% - var(--gap));
	}

	@include not-hg {
		width: 100%;
		margin-left: 0;
	}
}

.about__second__img {
	display: flex;
	//width: 100%;
	//height: 10vh;
	align-items: center;
	justify-content: center;
	margin-right: 26px;
	margin-bottom: 98px;
	margin-left: 26px;
	background-color: $colors__primary;
	justify-items: center;

	@include not-hg {
		margin-right: 0;
		margin-left: 0;
	}

	@include not-hg {
		display: none;
		margin-right: 0;
		margin-left: 0;
	}

	img {
		display: block;
		width: 100%;
		height: auto;
	}
}


/* ---------- DELIVERY ---------- */
.delivery_content_wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 233px;
	margin-right: 26px;
	//margin-bottom: 64px;
	margin-left: 26px;
	line-height: $line-height--custom;

	@include not-xhg {
		margin-top: 196px;
	}

	@include not-hg {
		margin-top: 174px;
		margin-right: 0;
		margin-left: 0;
	}

	@include not-lg {
		margin-top: 174px;
		margin-right: 0;
		margin-left: 0;
	}

	h4 {
		@extend %Montserrat__b;

		margin-bottom: 16px;
		font-size: $font-size--h4;

		@include not-xhg {
			margin-bottom: 24px;
		}
	}

	p {
		@extend %Montserrat__m;

		margin-bottom: 24px;
		font-size: $font-size--l;
		text-align: justify;
	}

	ul {
		@extend %Montserrat__m;

		padding: 0;
		margin-bottom: 24px;
		font-size: $font-size--l;
		text-align: justify;

		li {
			//display: block;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: flex-start;
			justify-content: space-between;

			@include not-lg {
				flex-direction: column;
				margin-bottom: 1em;

				span:first-of-type {
					font-weight: $font-weight__bold;
				}
			}
		}
	}
}

.delivery_content {
	margin-bottom: 46px;

	--gap: 50px;

	@include not-xhg {
		margin-bottom: 24px;
	}

	&:nth-of-type(2) {
		width: 38%;
		max-width: 384px;
		margin-right: var(--gap);

		@include not-hg {
			width: 100%;
			margin-right: 0;
		}
	}

	&:nth-of-type(3) {
		width: calc(62% - var(--gap));
		max-width: 698px;

		@include not-hg {
			width: 100%;
			max-width: 100%;
		}
	}
}

.delivery_map {
	//display: flex;
	width: 100%;
	//justify-content: center;
	margin-top: 85px;
	margin-bottom: 175px;

	@include not-xhg {
		margin-top: 48px;
	}

	@include not-hg {
		margin-bottom: 90px;
	}

	@include not-lg {
		margin-bottom: 24px;
	}

	img {
		display: block;
		width: 100%;
		height: auto;
		margin-right: auto;
		margin-left: auto;
	}
}


/* OFFERS */

.offers--hero {
	display: flex;
	height: calc(100vh - var(--height_quote__l));
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-blend-mode: hard-light;
	background-color: $colors__primary;
	//background-image: url("../../static/img/main/hero_bg.jpg");
	background-image: url("https://via.placeholder.com/1920x1028");
	background-position: 50% 50%;
	background-size: cover;
	color: $colors__secondary;

	@include not-hg {
		height: calc(100vh - var(--height_quote__s));
		justify-content: center;
	}

	@include not-lg {
		height: calc(100vh - var(--height_quote__s));
		//align-items: flex-end;
		justify-content: flex-start;
		background-size: initial;
		text-align: center;
	}

	h1 {
		@extend %Cormorant__b;

		margin-top: -26px;
		font-size: $font-size--h1--sm;
		text-transform: uppercase;

		@include not-xhg {
			margin-top: 0;
			font-size: $font-size--h1--xs;
		}

		@include not-hg {
			margin-top: -88px;
			//margin-top: 90px;
			margin-bottom: 12px;
			font-size: $font-size--h1--xxxs;
		}

		@include not-lg {
			max-width: 400px;
			margin-top: 100px;
			margin-bottom: 36px;
			//height: calc(100vh - var(--height_quote__s));
			//margin-bottom: 9px;
			font-size: $font-size--h1--xxss;
		}
	}

	p {
		@extend %Montserrat__r;

		max-width: 954px;
		margin-bottom: 24px;
		font-size: $font-size--l;
		text-align: center;

		@include not-xhg {
			font-size: $font-size--base;
		}

		@include not-hg {
			width: 55%;
			max-width: 600px;
		}

		@include not-lg {
			width: 80%;
			max-width: 480px;
		}
	}
}

.test {
	position: absolute;
	z-index: 1000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	//display: flex;
	//width: 100vw;
	height: auto;
	//flex-direction: column;
	//align-items: center;
	//justify-content: center;
	background-color: rgb(255, 0, 0);
}

.test__inner-slide {
	display: block;
	width: 100%;

	img {
		display: block;
		width: 100%;
		height: auto;
		margin: 0 auto;
	}
}
